.main-carcas{
	width: 1366px;
	min-height: 768px;
	margin: 0 auto;
	display: flex;
}
.aside-carcas{
	width: 292px;
	min-height: 768px;
	background-color: #363137;
}
.section-carcas {
	width: 1074px;
	min-height: 768px;
}
.header-carcas{
	background-color: #ffce4b;
	min-height: 275px;
}
.main-content-carcas{
		background-color: #363137;
	min-height: 495px;}